<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headerFragment">
</head>
<body>
	<div class="container my-2">
		<div th:replace="fragments/header :: header"></div>
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">
					<i class="fas fa-caret-right"></i>Menu User
				</h1>
			</div>

		</div>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th colspan="3"  scope="col">Menu User</th>
				</tr>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>